* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 2fr 7fr;
  min-height: 100vh;
  min-width: 100vw;
}

.sidebar {
  background-color: rgb(4, 117, 247);
  color: white;
  font-weight: 700;
  padding: 1rem;
}

.logo-container a {
  fill: white;
  display: flex;
  text-decoration: none;
  color: white;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.logo-container svg {
  width: 30px;
  height: 30px;
  fill: white;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.nav .section-one {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nav .section-two {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-link svg {
  width: 24px;
  height: 24px;
  fill: white;
}

.header {
  background-color: white;
  height: 10rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 0.5rem 2rem;
}

.header .layer-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .layer-two {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .search {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-basis: 70%;
}

.search input {
  width: 80%;
  background-color: lightgray;
  border: none;
  border-radius: 10px;
  padding: 0.25rem 0.5rem;
}

.layer-one .info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  gap: 1rem;
}

.info .user-name {
  font-weight: bold;
}

.layer-two .greeting {
  display: flex;
  font-weight: bold;
  gap: 1rem;
}

.layer-two .greeting-text {
  font-weight: bold;
  font-size: 0.7rem;
}

.layer-two .header-buttons {
  width: 30%;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.header-buttons .btn {
  color: white;
  background-color: rgb(4, 117, 247);
  font-weight: bold;
  font-size: 0.8rem;
  padding: 6px 16px;
  border: none;
  border-radius: 16px;
}
.header svg {
  height: 24px;
  width: 24px;
}

.user-avatar {
  width: 36px;
  width: 36px;
}

.content {
  background-color: lightgray;
  padding: 1rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 1rem;
}

.projects-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.project {
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 7px rgb(0, 0, 0, 70%);
  border-left-color: orange;
  border-left-width: 5px;
  border-left-style: solid;
  display: grid;
  grid-template-rows: 4fr 1fr;
}

.projects-title {
  padding-bottom: 1rem;
}

.project-description {
  font-size: 0.8rem;
  color: gray;
}

.project-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.projects svg {
  width: 16px;
  height: 16px;
}

aside {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}

.announcements .title {
  margin-bottom: 1rem;
}

.announcement-list {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
}

.announcement {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.announcement > div {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 70%;
}

.trending .heading {
  margin-bottom: 1rem;
}

.trending-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.trending-item img {
  display: block;
  max-width: 48px;
  max-height: 48px;
}

.trending-list {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
}

.trending-item .details {
  font-size: 70%;
}

.details .handle {
  font-weight: bold;
}
